/*------------------------------------*\
    RESET STYLES
\*------------------------------------*/
/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*------------------------------------*\
    BASE
\*------------------------------------*/
html, body {
  position: relative;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: black;
  font-family: "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.fuisz-rect {
  position: absolute;
  vertical-align: middle;
  display: table-cell;
  cursor: pointer; }
  .fuisz-rect.is-debug {
    border: 2px solid #60fc14;
    color: #00ff00;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 16rem;
    font-family: monospace; }
  .fuisz-rect.is-inactive {
    cursor: default; }
    .fuisz-rect.is-inactive.is-debug {
      color: grey;
      border-color: grey;
      opacity: 0.75;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
      filter: alpha(opacity=75); }

.is-hidden {
  display: none; }

.pulse {
  -webkit-animation: pulse 400ms normal;
  -moz-animation: pulse 400ms normal;
  -ms-animation: pulse 400ms normal;
  -o-animation: pulse 400ms normal;
  animation: pulse 400ms normal; }

.double-pulse {
  -webkit-animation: doublePulse 400ms normal;
  -moz-animation: doublePulse 400ms normal;
  -ms-animation: doublePulse 400ms normal;
  -o-animation: doublePulse 400ms normal;
  animation: doublePulse 400ms normal; }

.bounce {
  -webkit-animation: bounce 400ms normal;
  -moz-animation: bounce 400ms normal;
  -ms-animation: bounce 400ms normal;
  -o-animation: bounce 400ms normal;
  animation: bounce 400ms normal; }

.nudge-right {
  -webkit-animation: nudgeRight 800ms;
  -moz-animation: nudgeRight 800ms;
  -ms-animation: nudgeRight 800ms;
  -o-animation: nudgeRight 800ms;
  animation: nudgeRight 800ms; }

@-webkit-keyframes nudgeRight {
  0%, 50%, 100% {
    margin-left: 0px; }
  25%, 75% {
    margin-left: 10px; } }
@-moz-keyframes nudgeRight {
  0%, 50%, 100% {
    margin-left: 0px; }
  25%, 75% {
    margin-left: 10px; } }
@keyframes nudgeRight {
  0%, 50%, 100% {
    margin-left: 0px; }
  25%, 75% {
    margin-left: 10px; } }
@-webkit-keyframes shakeRight {
  0%, 100% {
    -webkit-transform: rotate(45deg) translate3d(0, 0, 0); }
  20%, 60% {
    -webkit-transform: rotate(45deg) translate(-5px, 5px); }
  40%, 80% {
    -webkit-transform: rotate(45deg) translate(5px, -5px); } }
@-moz-keyframes shakeRight {
  0%, 100% {
    -moz-transform: rotate(45deg) translate3d(0, 0, 0); }
  20%, 60% {
    -moz-transform: rotate(45deg) translate(-5px, 5px); }
  40%, 80% {
    -moz-transform: rotate(45deg) translate(5px, -5px); } }
@keyframes shakeRight {
  0%, 100% {
    transform: rotate(45deg) translate3d(0, 0, 0); }
  20%, 60% {
    transform: rotate(45deg) translate(-5px, 5px); }
  40%, 80% {
    transform: rotate(45deg) translate(5px, -5px); } }
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1); }
  40% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    border-color: rgba(255, 255, 255, 0.4); }
  100% {
    -webkit-transform: scale3d(1, 1, 1); } }
@-moz-keyframes pulse {
  0% {
    -moz-transform: scale3d(1, 1, 1); }
  40% {
    -moz-transform: scale3d(1.1, 1.1, 1.1);
    border-color: rgba(255, 255, 255, 0.4); }
  100% {
    -moz-transform: scale3d(1, 1, 1); } }
@keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1); }
  40% {
    transform: scale3d(1.1, 1.1, 1.1); }
  100% {
    transform: scale3d(1, 1, 1); } }
@-webkit-keyframes doublePulse {
  0%, 50%, 100% {
    -webkit-transform: scale3d(1, 1, 1); }
  25%, 75% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1); } }
@-moz-keyframes doublePulse {
  0%, 50%, 100% {
    -moz-transform: scale3d(1, 1, 1); }
  25%, 75% {
    -moz-transform: scale3d(1.1, 1.1, 1.1); } }
@keyframes doublePulse {
  0%, 50%, 100% {
    transform: scale3d(1, 1, 1); }
  25%, 75% {
    transform: scale3d(1.1, 1.1, 1.1); } }
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateX(-105%); }
  40% {
    -webkit-transform: translateX(-111%); }
  60% {
    -webkit-transform: translateX(-108%); } }
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateX(-105%); }
  40% {
    -moz-transform: translateX(-111%); }
  60% {
    -moz-transform: translateX(-108%); } }
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateX(-105%); }
  40% {
    transform: translateX(-111%); }
  60% {
    transform: translateX(-108%); } }
.splash-screen {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;
  cursor: pointer;
  background-color: black; }
  .splash-screen.show-splash {
    display: block; }

.splash__text {
  position: absolute;
  top: 45%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  height: 50%;
  text-align: center; }

.splash__text > div {
  clear: both;
  display: block;
  position: relative;
  width: 100%;
  color: white; }

.splash__title {
  margin-bottom: 10px;
  height: 50%; }

.splash__title__inner {
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%; }

.splash__subtitle {
  font-size: 28px;
  font-weight: bold;
  margin: 10px 0;
  letter-spacing: 0.1em; }

.splash__cta {
  letter-spacing: 0.01em; }

.splash__btn-play-wrapper {
  margin: 0 0 3% 0;
  height: 70px; }

.splash__btn-play {
  height: 60px;
  width: 60px;
  transition: background-color 150ms linear;
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
  border: 2px solid white;
  border-radius: 100%;
  padding: 15px 0 0 5px; }

.splash__btn-play:hover {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-duration: 400ms;
  animation-duration: 400ms; }

.status-bar {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  padding: 10px 13px;
  -webkit-transform: translateY(-100px);
  transform: translateY(-100px);
  transition: all 800ms ease-out 1s; }

.status-bar.hover,
.status-bar.initial,
.hover .status-bar {
  transition: all 400ms ease-out;
  -webkit-transform: translateY(0px) !important;
  transform: translateY(0px) !important; }

.is-mobile .show-on-mobile {
  display: block; }

.is-desktop .show-on-desktop {
  display: block; }

.show-on-desktop,
.show-on-mobile {
  display: none; }

.status-bar.has-bg {
  background: rgba(0, 0, 0, 0.8); }

[class^="status-bar__text"] {
  display: none;
  font-size: 16px;
  font-weight: normal;
  float: left;
  clear: both;
  margin: 0px;
  color: white;
  text-transform: uppercase; }

.status-bar.initial .status-bar__text--initial {
  display: block; }

.status-bar.no-items .status-bar__text--no-items {
  display: block; }

.status-bar.hover .status-bar__text--hover {
  display: block; }

@font-face {
  font-family: "futurastd-medium";
  src: url("../fonts/futurastd-medium" "+.eot");
  src: url("../fonts/futurastd-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/futurastd-medium.woff") format("woff"), url("../fonts/futurastd-medium.ttf") format("truetype"), url("../fonts/futurastd-medium.svg#futurastd-medium_ui") format("svg");
  font-weight: normal;
  font-style: normal; }
.vjs-fullscreen-control {
  display: none; }

.vjs-volume-control {
  margin-right: 20px; }

.splash-screen {
  background-size: contain;
  background-position: center center; }

#comparison.show-tooltip input[type=range]::-webkit-slider-thumb:before {
  background-image: url(../img/drag-to-compare.png); }

.gmc {
  color: #000; }
  .gmc #rotate-svg {
    display: inline-block;
    width: 40px;
    fill: white;
    opacity: 0.7;
    margin: 9px;
    vertical-align: top;
    margin-right: 14px; }
  .gmc #rotate-device-msg {
    display: none; }
    .gmc #rotate-device-msg span {
      vertical-align: top; }
  .gmc .splash__text > div.splash__btn-play-wrapper {
    position: absolute;
    top: 50%;
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%); }
  .gmc [class^="status-bar__text"] {
    color: #fff;
    text-transform: uppercase;
    font-style: italic;
    font-size: 18px;
    font-weight: bold; }
  .gmc .splash-screen .splash__text {
    position: absolute;
    top: 50%;
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%); }
  .gmc .btn {
    padding: 12px 20px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    background-color: #ff6a00;
    color: #fff; }
  .gmc .splash-screen {
    z-index: 10008; }
  .gmc .status-bar {
    z-index: 10004; }
  .gmc .cards-layer.active .card-nav,
  .gmc .cards-layer.active .cards-scrim {
    display: block; }
  .gmc .cards-layer .cards-scrim {
    display: none;
    position: absolute;
    z-index: 10005;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80); }
  .gmc .cards-layer .card-nav {
    display: none;
    position: absolute;
    z-index: 10006;
    top: 50%;
    cursor: pointer;
    width: 40px;
    height: 40px; }
    .gmc .cards-layer .card-nav.nav-left {
      left: 2%;
      -webkit-transform: scaleX(-1) rotate(45deg);
      -moz-transform: scaleX(-1) rotate(45deg);
      -ms-transform: scaleX(-1) rotate(45deg);
      -o-transform: scaleX(-1) rotate(45deg);
      transform: scaleX(-1) rotate(45deg); }
    .gmc .cards-layer .card-nav.nav-right {
      right: 2%;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    .gmc .cards-layer .card-nav .arrow {
      padding: 10px;
      width: 20px;
      height: 20px;
      border-right: 5px solid white;
      border-top: 5px solid white; }
  .gmc .card {
    position: absolute;
    z-index: 10007;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: "futurastd-medium";
    width: 468px;
    height: 260px;
    border: 1px solid #333;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    display: none; }
    .gmc .card.active {
      display: block; }
    .gmc .card .card-cta {
      padding: 0;
      margin-top: 20px;
      height: 44px;
      color: white;
      font-family: "futurastd-medium";
      font-size: 22px;
      line-height: 44px;
      bottom: 20px;
      position: absolute;
      margin: 0 5px;
      width: 43%; }
    .gmc .card .btn-close {
      z-index: 100000;
      cursor: pointer;
      position: absolute;
      top: -20px;
      right: -20px;
      width: 40px;
      height: 40px; }
    .gmc .card .card-content {
      padding: 15px; }
    .gmc .card .card-title {
      font-weight: bold;
      font-size: 30px;
      margin: 10px 10px 20px 10px; }
    .gmc .card .card-subtitle {
      margin: 0.1em 0 0.5em 0;
      color: 'blue';
      font-size: 28px; }
    .gmc .card .card-desc {
      font-size: 20px;
      margin-bottom: 0.5em;
      width: 100%;
      margin: 0 0 0 10px;
      line-height: 22px;
      cursor: pointer; }
    .gmc .card .card-image {
      padding: 16px;
      width: 50%; }
      .gmc .card .card-image a {
        display: block; }
      .gmc .card .card-image img {
        width: 100%;
        height: auto; }
  .gmc .indicators-layer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9000; }
    .gmc .indicators-layer .indicator {
      position: absolute;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: #fff; }
      .gmc .indicators-layer .indicator .outer-ring {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        border: 2px solid #fff;
        margin-left: -12px;
        margin-top: -12px;
        -webkit-animation-name: ringGrow;
        -moz-animation-name: ringGrow;
        animation-name: ringGrow;
        -webkit-animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-duration: 900ms;
        -moz-animation-duration: 900ms;
        animation-duration: 900ms; }
@-webkit-keyframes ringGrow {
  0%, 10% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); }
  20% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); }
  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-transform: scale(1.8);
    -o-transform: scale(1.8);
    -ms-transform: scale(1.8);
    -webkit-transform: scale(1.8);
    transform: scale(1.8); } }
@-moz-keyframes ringGrow {
  0%, 10% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); }
  20% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); }
  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-transform: scale(1.8);
    -o-transform: scale(1.8);
    -ms-transform: scale(1.8);
    -webkit-transform: scale(1.8);
    transform: scale(1.8); } }
@keyframes ringGrow {
  0%, 10% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); }
  20% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); }
  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-transform: scale(1.8);
    -o-transform: scale(1.8);
    -ms-transform: scale(1.8);
    -webkit-transform: scale(1.8);
    transform: scale(1.8); } }
@media all and (max-width: 768px) {
  .gmc .card .card-title {
    margin: 10px 10px 15px 10px; }
  .gmc .card .card-desc {
    font-size: 15px; } }
@media all and (max-width: 580px) {
  .gmc .card {
    width: 297px;
    height: 168px; }
    .gmc .card .card-content,
    .gmc .card .card-image {
      padding: 10px; }
    .gmc .card .card-title {
      font-size: 15px;
      margin: 10px;
      line-height: 15px; }
    .gmc .card .card-subtitle {
      font-size: 22px;
      margin-bottom: 0.1em;
      line-height: 12px; }
    .gmc .card .card-desc {
      font-size: 10px;
      line-height: 12px; }
    .gmc .card .card-cta {
      font-size: 12px;
      bottom: 15px;
      height: 30px;
      line-height: 30px;
      width: 42%; } }
@media all and (max-width: 420px) {
  .gmc .cards-layer.active .card-nav.nav-left {
    left: 1%; }
  .gmc .cards-layer.active .card-nav.nav-right {
    right: 1%; } }
@media all and (max-width: 320px) {
  .gmc .card {
    width: 304px;
    height: 165px; } }
@media all and (min-width: 768px) {
  .gmc .card {
    width: 540px !important;
    height: 300px !important; }
    .gmc .card .card-desc {
      font-size: 16px !important; } }
@media only screen and (max-device-width: 580px) and (orientation: portrait) {
  .gmc #rotate-device-msg {
    display: block;
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    position: absolute;
    z-index: 99999;
    top: 80%;
    left: 0;
    right: 0;
    line-height: 50px;
    text-align: left;
    font-weight: bold;
    border-bottom: 1px solid #333; } }

/*# sourceMappingURL=index.css.map */
