@import 'templates/base';
@import 'templates/utils';
@import 'templates/variables';
@import 'templates/mixins';
@import 'templates/easing';
@import 'templates/animations';
@import 'templates/splash_screen';
@import 'templates/status_bar';

$black: #000;
$white: #fff;
$orange: #ff6a00;

$zindex-indicators:     9000; //underneath the hotspot annotations
$vjs-z:                 10000;
$zindex-status-bar:     $vjs-z + 4;
$zindex-cards-scrim:    $vjs-z + 5;
$zindex-card-nav:       $vjs-z + 6;
$zindex-card:           $vjs-z + 7;
$zindex-splash-screen:  $vjs-z + 8;
$zindex-device-screen:  $vjs-z + 9;

// TODO: Futura?
$futura-med: 'futurastd-medium';
@include fontFace($futura-med);

// hide full screen button
.vjs-fullscreen-control { display: none; }
.vjs-volume-control { margin-right: 20px; }


// crappy solution for our lack of a portrait splash image
.splash-screen {
  background-size: contain;
  background-position: center center;
}

#comparison.show-tooltip input[type=range]::-webkit-slider-thumb:before{
  background-image:url(../img/drag-to-compare.png);
}

// MOBILE FIRST! Note media queries at bottom.
.gmc {


  #rotate-svg {
    display: inline-block;
    width: 40px;
    fill: white;
    opacity: 0.7;
    margin: 9px;
    vertical-align: top;
    margin-right: 14px;
  }

  #rotate-device-msg{
    display: none;

    span{
      vertical-align: top;
    }
  }

  .splash__text > div.splash__btn-play-wrapper{
    position: absolute;
    top:50%;
    @include translate(0, -50%);
  }

  color: $black;

  [class^="status-bar__text"] {
    color: $white;
    text-transform: uppercase;
    font-style: italic;
    font-size: 18px;
    font-weight: bold;
  }

  .splash-screen {
    .splash__text {
      position: absolute;
      top:50%;
      @include translate(0, -50%);
    }
  }

  // Common
  .btn {
    padding: 12px 20px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    background-color: $orange;
    color: $white;
  }

  // Components
  .splash-screen {
    z-index: $zindex-splash-screen;
  }

  .status-bar {
    z-index: $zindex-status-bar;
  }


  // UI
  .cards-layer {

    &.active {
      .card-nav,
      .cards-scrim {
        display: block;
      }
    }

    .cards-scrim {
      display: none;
      position: absolute;
      z-index: $zindex-cards-scrim;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $black;
      @include opacity(0.8);
    }

    .card-nav {
      display: none;
      position: absolute;
      z-index: $zindex-card-nav;
      top: 50%;

      cursor: pointer;

      width: 40px;
      height: 40px;

      &.nav-left {
        left: 2%;
        // TODO: improve the mixin so we can pass multiple transforms
        -webkit-transform: scaleX(-1) rotate(45deg);
        -moz-transform: scaleX(-1) rotate(45deg);
        -ms-transform: scaleX(-1) rotate(45deg);
        -o-transform: scaleX(-1) rotate(45deg);
        transform: scaleX(-1) rotate(45deg);
      }
      &.nav-right {
        right: 2%;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      .arrow {
        padding: 10px;
        width: 20px;
        height: 20px;
        border-right: 5px solid white;
        border-top: 5px solid white;
      }
    }
  }

  .card {
    position: absolute;
    z-index: $zindex-card;
    top: 50%;
    left: 50%;
    @include translate(-50%, -50%);
    font-family: $futura-med;

    width: 468px;
    height: 260px;
    border:1px solid #333;
    background-color: $white;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;


    display: none;
    &.active {
      display: block;
    }

    .card-cta {
      padding:0;
      margin-top:20px;
      height:44px;
      color: white;
      font-family: $futura-med;
      font-size: 22px;
      line-height:44px;
      bottom: 20px;
      position: absolute;
      margin:0 5px;
      width:43%;
    }

    .btn-close {
      z-index: 100000;
      cursor: pointer;
      position: absolute;
      top: -20px;
      right: -20px;
      width: 40px;
      height: 40px;
    }
    /// ALT
    // .btn-close {
    //   top: -10px;
    //   right: -10px;
    //   background-color: $black;
    //   border-color: $black;
    // }

    .card-content {
      padding: 15px;
    }

    .card-title {
      font-weight: bold;
      font-size:30px;
      margin:10px 10px 20px 10px;
    }

    .card-subtitle {
      margin: 0.1em 0 0.5em 0;
      color: 'blue';
      font-size: 28px;
    }

    .card-desc {
      font-size:20px;
      margin-bottom: 0.5em;
      width: 100%;   //default that can be overridden via input
      margin: 0 0 0 10px;
      line-height:22px;
      cursor: pointer;
    }

    .card-image {
      padding: 16px;
      width: 50%;
      a {
        display: block;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .indicators-layer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: $zindex-indicators;

    .indicator {
      position: absolute;
      width: 24px;
      height: 24px;

      border-radius: 50%;
      background-color: $white;

      .outer-ring {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        border: 2px solid $white;

        margin-left: -12px;
        margin-top: -12px;

        -webkit-animation-name: ringGrow;
        -moz-animation-name: ringGrow;
        animation-name: ringGrow;
        -webkit-animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-duration: 900ms;
        -moz-animation-duration: 900ms;
        animation-duration: 900ms;
        @mixin ringAnim() {
          0%, 10% {
            @include opacity(0);
            @include scale(1);
          }
          20% {
            @include opacity(1);
            @include scale(1);
          }
          100% {
            @include opacity(0);
            @include scale(1.8);
          }
        }
        @-webkit-keyframes ringGrow {
          @include ringAnim();
        }
        @-moz-keyframes ringGrow {
          @include ringAnim();
        }
        @keyframes ringGrow {
          @include ringAnim();
        }
      }
    }
  }
}

@media all and (max-width: $tablet-min-width) {
  .gmc {
    .card {
      .card-title {
        margin: 10px 10px 15px 10px;
      }

      .card-subtitle {
      }

      .card-desc {
        font-size: 15px;
      }

      .card-cta {
      }
    }
  }
}


// special media q for mobile portrait mode
@media all and (max-width: 580px) {
  .gmc {
    .card {
      width: 297px;
      height: 168px;

      .card-content,
      .card-image {
        padding: 10px;
      }

      .card-title {
        font-size: 15px;
        margin: 10px;
        line-height: 15px;
      }

      .card-subtitle {
        font-size: 22px;
        margin-bottom: 0.1em;
        line-height: 12px;
      }

      .card-desc {
        font-size: 10px;
        line-height:12px;
      }

      .card-cta {
        font-size: 12px;
        bottom: 15px;
        height: 30px;
        line-height: 30px;
        width:42%;
      }
    }
  }
}

// another couple that I dind't realize we'd need -- who views video in portrait -- for really small portrait
@media all and (max-width: 420px) {
  .gmc {
    .cards-layer.active {
      .card-nav {
        &.nav-left {
          left: 1%;
        }
        &.nav-right {
          right: 1%;
        }
      }
    }
  }
}
@media all and (max-width: 320px) {
  .gmc {
    .card {
      width: 304px;
      height: 165px;
    }
  }
}


@media all and (min-width: $tablet-min-width) {
  .gmc {
    .card {
      width: 540px !important;
      height: 300px !important;

      .card-cta {
      }

      .card-desc {
        font-size: 16px !important;
      }
    }
  }
}

@media all and (min-width: $desktop-min-width) {
  .mobilecards {

  }
}


@media only screen
and (max-device-width : 580px)
and (orientation : portrait) {
  .gmc {
    #rotate-device-msg{
      display: block;
      width: 100%;
      height: 50px;
      background-color: rgba(0,0,0,0.8);
      color: white;
      position: absolute;
      z-index: 99999;
      top:80%;
      left:0;
      right:0;
      line-height: 50px;
      text-align: left;
      font-weight: bold;
      border-bottom: 1px solid #333;
    }
  }
}
