- var ui = project.ui_attributes;
- var custom_data = experience.layout.custom_data;
- console.log("custom project items are ");
- console.log(project.items);
script.
  window.fmPlayerType = 'custom';

style.
  .splash-screen {
    background-image: url('http://gallery.fuiszmedia.com.s3.amazonaws.com/gillette/548f727c4ae22d040007bd69/Gilletesplash_splash_text_center.jpg');
  }

#template_container(class='gmc')

  .splash-screen.show-splash
    .splash__text
      .splash__title!= title
        .splash__title__inner
      .splash__btn-play-wrapper
        .splash__btn-play
          svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:sketch='http://www.bohemiancoding.com/sketch/ns', width='20px', height='24px', viewBox='0 0 20 24', version='1.1')
            g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd', sketch:type='MSPage')
              g#splash-svg-play-button(sketch:type='MSLayerGroup', transform='translate(5.000000, 6.000000)', fill='#FFFFFF')
                path#Shape(d='M-5,-6 L15,6 L-5,18 L-5,-6 Z', sketch:type='MSShapeGroup')
      .splash__subtitle!= subtitle
      .splash__cta!= cta

  .cards-layer
    .cards-scrim
    .card-nav.nav-left
      .arrow
    .card-nav.nav-right
      .arrow
    .card.comparison(data-item-id="5537d41b8ca75687caee7d98")
      .btn-close
        .ring
      #comparison.show-tooltip(style="height:100%")
        figure(style="background-image:url(548f727c4ae22d040007bd69/gillette-flexball.jpg)")
          #divisor(style="width: 50%; background-image: url(http://gallery.fuiszmedia.com/gillette/548f727c4ae22d040007bd69/gillette-proglide.jpg);")
        input#slider(type="range", min="0", max="100", value="50", oninput="moveDivisor()")
    .card.card(data-item-id="5537d4248ca75687caee7d99", style="background-image: url(548f727c4ae22d040007bd69/card-feature.jpg)")
      .btn-close
        .ring
      .card-content(style="float: left; width:50%")
        .card-title FLEXBALL&#8482; TECHNOLOGY
        .card-desc The Fusion ProGlide razor with New FlexBall Technology makes maximum contact
        .card-cta.btn(data-href="http://gillette.com/en-us/products/razor-blades/fusion-proglide-flexball-razors/fusion-proglide-power-razor-with-flexball?utm_source=FM&utm_medium=FacebookVideo&utm_content=Flexball&utm_campaign=Interactive") Learn More
    .card.video(data-item-id="5537d42c8ca75687caee7d9a")
      .btn-close
        .ring
      video#subvideo(style="top:0px;left:0px;position:absolute;width:100%;height:100%;background-color:black;", webkit-playsinline="")
        source(src="548f727c4ae22d040007bd69/Gillette_VideoInVideo_NoEndCard.mp4")
    .card.card(data-item-id="5537d4358ca75687caee7d9b", style="background-image: url(548f727c4ae22d040007bd69/card-subscription.jpg)")
      .btn-close
        .ring
      .card-content(style="float: right; width:50%;")
        .card-title GILLETTE SUBSCRIPTION
        .card-desc Get Gillettes best razor blades delivered to your door when you need them
        .card-cta.btn(data-href="http://subscription.gillette.com/?utm_source=FM&utm_medium=FacebookVideo&utm_content=Subscription&utm_campaign=Interactive") Choose Plan


  .indicators-layer
