.status-bar {
  // background: rgba(0,0,0,0.8);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  padding: 10px 13px;
  -webkit-transform: translateY(-100px);
  transform: translateY(-100px);
  transition: all 800ms ease-out 1s;
}

.status-bar.hover,
.status-bar.initial,
.hover .status-bar {
  transition: all 400ms ease-out;
  -webkit-transform: translateY(0px)!important;
  transform: translateY(0px)!important;
}

.is-mobile .show-on-mobile {
  display: block;
}

.is-desktop .show-on-desktop {
  display: block;
}

.show-on-desktop,
.show-on-mobile {
  display: none;
}



.status-bar.has-bg {
  background: rgba(0,0,0,0.8);
}


[class^="status-bar__text"] {
  display: none;
  font-size: 16px;
  font-weight: normal;
  float: left;
  clear: both;
  margin: 0px;
  color: white;
  text-transform: uppercase;
}
.status-bar.initial .status-bar__text--initial {
  display: block;
}
.status-bar.no-items .status-bar__text--no-items {
  display: block;
}
.status-bar.hover .status-bar__text--hover {
  display: block;
}
